@CHARSET "UTF-8";
*{font-size:15px; font-family:Tahoma,Verdana,微软雅黑,新宋体}
#log_table{
	font-size:15px;
	font-family:Tahoma,Verdana,微软雅黑,新宋体;
	position:absolute;
	top:80px;
	left:50px;
	cursor:pointer;
}
#remove_all_button{
	position:absolute;
	left:500px;
	top:20px;
	width:100px;
	height:40px;
	background-color: #dce9f9;
}
#refresh_button{
	position:absolute;
	left:630px;
	top:20px;
	width:100px;
	height:40px;
	background-color: #dce9f9;
}
#page_size_p{
	position:absolute;
	left:750px;
	height:40px;
}
input{
	height:32px;
	width:80px;
}
#logBlock {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 1px solid #536376;
	-webkit-box-shadow: rgba(0, 0, 0, .6) 0px 2px 12px;
	-moz-box-shadow: rgba(0, 0, 0, .6) 0px 2px 12px;;
	padding: 14px 22px;
	display: none;
	background: white;
	font-size:16px;
}
.block_close_btn {
	position:absolute;
	width:32px;
	height:32px;
	right:-16px;
	top:-16px;
	background:url(../images/delete.png) no-repeat center;
	cursor:pointer;
}
.block_close_btn:hover {
	position:absolute;
	width:32px;
	height:32px;
	right:-16px;
	top:-16px;
	background:url(../images/delete_hover.png) no-repeat center;
	cursor:pointer;
}