@CHARSET "UTF-8";
*{font-size:15px; font-family:Tahoma,Verdana,微软雅黑,新宋体}
#position_info_table{
	font-size:15px;
	font-family:Tahoma,Verdana,微软雅黑,新宋体;
	position:absolute;
	top:90px;
	left:50px;
	width:570px;
}
#alert_table{
	font-size:14px;
	font-family:Tahoma,Verdana,微软雅黑,新宋体;
	position:absolute;
	top:90px;
	left:650px;
	width:400px;
}
.alert_table_tr{
	height:36px;	
}
.alert_img{
	width:36px;
	height:36px;
}
#refresh_button{
	position:absolute;
	left:570px;
	top:20px;
	width:100px;
	height:40px;
	background-color: #dce9f9;
}
#OBD_date_div{
	position:absolute;
	top:60px;
	left:70px;
}
#speed_graph{
	position:absolute;
	top:500px;
	left:690px;
	width:90px;
	height:90px;
	background:url(../images/speed_logo.png) no-repeat center center;
	cursor:pointer;
}
#speed_graph:hover{
	position:absolute;
	top:500px;
	left:690px;
	width:90px;
	height:90px;
	background:url(../images/speed_logo_hover.png) no-repeat center center;
	cursor:pointer;
}
#temperature_graph{
	position:absolute;
	top:500px;
	left:810px;
	width:90px;
	height:90px;
	background:url(../images/temperature_logo.png) no-repeat center center;
	cursor:pointer;
}
#temperature_graph:hover{
	position:absolute;
	top:500px;
	left:810px;
	width:90px;
	height:90px;
	background:url(../images/temperature_logo_hover.png) no-repeat center center;
	cursor:pointer;
}
#location_graph{
	position:absolute;
	top:500px;
	left:930px;
	width:90px;
	height:90px;
	background:url(../images/location_logo.png) no-repeat center center;
	cursor:pointer;
}
#location_graph:hover{
	position:absolute;
	top:500px;
	left:930px;
	width:90px;
	height:90px;
	background:url(../images/location_logo_hover.png) no-repeat center center;
	cursor:pointer;
}