@CHARSET "UTF-8";
*{font-size:15px; font-family:Tahoma,Verdana,微软雅黑,新宋体}
#product_img{
	position:absolute;
	padding:20px;
	top:50px;
	width:350px;
	height:250px;
	left:50px;
}
#info_table{
	position:absolute;
	top:370px;
	left:50px;
	width:500px;
}