@CHARSET "UTF-8";
*{font-size:15px; font-family:Tahoma,Verdana,微软雅黑,新宋体}
#travel_info_table{
	font-size:15px;
	font-family:Tahoma,Verdana,微软雅黑,新宋体;
	position:absolute;
	top:80px;
	left:50px;
}
#travel_info_table td{
	font-size:10px;
}
#refresh_button{
	position:absolute;
	left:420px;
	top:20px;
	width:100px;
	height:40px;
	background-color: #dce9f9;
}
#get_travel_info_button{
	position:absolute;
	left:560px;
	top:20px;
	width:150px;
	height:40px;
	background-color: #dce9f9;
}
#get_which_travel_info_button{
	position:absolute;
	left:750px;
	top:20px;
	width:150px;
	height:40px;
	background-color: #dce9f9;
}
#travel_info_select{
	position:absolute;
	left:900px;
	top:20px;
	height:40px;
}
#review_travel_info_div{
	position:absolute;
	left:50px;
	top:590px;
}
#review_travel_info_table{
	font-size:15px;
	font-family:Tahoma,Verdana,微软雅黑,新宋体;
	position:absolute;
	top:620px;
	left:50px;
}
#review_travel_info_table tr{
	cursor:pointer;
}
#review_travel_info_table td{
	font-size:10px;
}
#reviewBlock {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 1px solid #536376;
	-webkit-box-shadow: rgba(0, 0, 0, .6) 0px 2px 12px;
	-moz-box-shadow: rgba(0, 0, 0, .6) 0px 2px 12px;;
	padding: 14px 22px;
	display: none;
	background: white;
	font-size:16px;
}
.block_close_btn {
	position:absolute;
	width:32px;
	height:32px;
	right:-16px;
	top:-16px;
	background:url(../images/delete.png) no-repeat center;
	cursor:pointer;
}
.block_close_btn:hover {
	position:absolute;
	width:32px;
	height:32px;
	right:-16px;
	top:-16px;
	background:url(../images/delete_hover.png) no-repeat center;
	cursor:pointer;
}